# The location of this file is:
# /etc/systemd/system/minio.service

# To view the log, execute the following command
# $ sudo journalctl -u minio -n 500

[Unit]
Description=MinIO Object Storage
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=robot
Group=robot
ExecStart=/usr/local/bin/minio server /mnt/minio/data --console-address ":9001"
Restart=always
RestartSec=5
Environment="MINIO_ROOT_USER=robot"
Environment="MINIO_ROOT_PASSWORD=Robot@123"  

[Install]
WantedBy=multi-user.target
